.border{
   border-bottom: 1px solid gray;
  padding-bottom: 5px;
  margin-right: 40px;

}
.order-product{
    font-size: 15px;
    background-color:ghostwhite;
    border-radius: 5px;
    padding-left: 10px;
   
}